.tgn-site{
    body{
        background-color: #ededed; //$gray-200
    }
    #main-header {
        position: relative;
        color: #fff;
        height: auto;
        background-color: $primary;
                
        .banner h1 {
            font-weight:normal;
            z-index: 3;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 2.1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    
        .logo {
            z-index: 3;
            a {
                color: #fff;
                text-decoration: none;
            }
        
        }
    
        a:focus-visible {
            outline: 1px dotted #fff;
            outline-offset: -1px;
        }
    
         .tgn_ona.default {
            max-width: 200px;
        }
    
        .tgn_ona {
            max-width: 90px;
        }

        .navbar-nav{
            .nav-item .nav-link{
                color:#fff;
            }
            .dropdown-menu{
                margin-top:7px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
        }

        .user-dropdown {
            margin:.8rem 1em;

            > a{
                color:#fff !important;
            }

            .dropdown-menu{
                margin-top:10px !important;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
        }
        
    }

  
    
    &[data-bs-theme=dark]{
        body{
            background-color: $gray-900
        }
    }
    .color-card h4 {
        font-weight: 500;
        line-height: 1.2;
        color: #fff;
    }

  
    #portal-column-content h1 {font-size: 2rem;}

    .portletCalendar {display:none !important;}

    .portletAssignments h4 {
        word-wrap: break-word;
    }

        
    &[data-bs-theme=dark]{
        #main-header {
            
            background-color: rgba(var(--bs-light-rgb),0.1);
            
        }
    }
  

    

}
