
//   @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


  .tgn-form{

    // *{
    //     font-family: 'Inter', sans-serif;
    // }

    @include media-breakpoint-up(xl) { 
        .container, .container-sm, .container-md, .container-lg, .container-xl {
            max-width: 1280px;
        }
    }

    @include media-breakpoint-down(xl) { 
        .container, .container-sm, .container-md, .container-lg, .container-xl {
            max-width: 100% !important;
        }
      
    }
    @include media-breakpoint-down(md) { 
        .sticky-header{
             border-bottom:1px solid var(--bs-border-color);
        }

      
    }

    .main-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    main {
     flex: 1;
    }
    

    header{
        
        .site-title{
            font-size:13pt;
            font-weight:600;
            // color:var(--bs-$gray-800;
        }
        .tarragona-logo{
            height: 48px;
            svg{
                height:100%;
                width:auto;
            }
           
        }
    }

    .user-dropdown-btn{
        background-color: var(--bs-gray-300);
        display: inline-block;
        padding:.5em .8em .5em .5em;
        border-radius:50px;
        font-size:.8em;
        font-weight: 600;
        text-transform: uppercase;
        &:hover{
            background-color: var(--bs-gray-400);

        }
        img{ 
            width:24px;
            height:24px;
        }
    }
    .sticky-header{
        background-color: $white; //$gray-200
        box-shadow:$box-shadow-sm !important;
	    z-index: 1030;

    }

    body{
        
        background-color: $white; //$gray-200
        min-height:100%;
    }

    footer{
        background-color: var(--bs-gray-200);
        padding-top:2em;
        padding-bottom:2em;
        

        .tarragona-logo{
            height: 48px;
            svg{
                height:100%;
                width:auto;
            }
        }
        .social-icons{
            font-size: 20pt;
            li{
                margin-left:.6em;
            }
        }
    }

    .form-heading{
        margin-bottom:3em;
    }
    .form-page-title{
        line-height: 1em;
        margin-bottom:.3em;
    }
    

    .form-buttons{
        margin-top:4em;
    }

    
    @include media-breakpoint-down(xl) {
        main {
            padding-left:2em;
            padding-right:2em;
        }
        
    } 
    
    
    .user-dropdown-content{
        width: 94vw;
    }


    @include media-breakpoint-up(md) {
        .user-dropdown-content{
            width: 450px;
        }
    }

}





[data-bs-theme=dark]{
    .user-dropdown-btn{
        background-color: var(--bs-gray-800);
        color:$white;
        &:hover{
            background-color: var(--bs-gray-700);
        }
    }
    .sticky-header{
        background-color: var(--bs-dark);
    }

    .tarragona-logo svg .texto{
        fill:$white;
    }
    footer{
        background-color: var(--bs-gray-800);
    }
}

body.on-top{
	.sticky-header{
        box-shadow:none !important;
        
    }
    

}