
.t-input-file{
    display: block;

   
    label.form-label{
        font-size:1.3em;
        font-weight: 500;
        line-height: 1.3;
        color: var(--bs-gray-900);
        margin-bottom: 0;
    }
    
    .form-text{
        font-size:.8em;
        color:var(--bs-gray-500);
    }

    .placeholders{
        // width:100%;
    }
    .file-btn{
        height:130px;
        width:92px;
        padding:0em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        margin-left:auto;
        margin-right:auto;
        
        border:2px solid var(--bs-border-color);
        background-color: transparent;
        color:var(--bs-primary);
        border-radius: var(--bs-border-radius);
        cursor:pointer;
        text-align: center;
        position: relative;

        i {
            font-size:1.7rem;
            // line-height:130px;
        }
        

        &:hover{
            background-color: rgba(0,0,0,0.1);
            border-color:var(--bs-gray-900);
            &::after{
                background-color: rgba(0,0,0,0.1);
                border-color:var(--bs-gray-900) !important;
            }
        }

        .badge{
            position: absolute;
            right: -10px;
            top: -10px;
            font-size: 1rem;
        }

    }

    .with-files{
        .file-btn{
            border-color: var(--bs-gray-900);
            background-color: rgba(255,255,255,0.5);
        }
        &.multiple{
            .file-btn::after{
                border-color: var(--bs-gray-900);
                background-color: var(--bs-border-color);
            
            }
        }
    }
    .multiple{
        .file-btn::after{
            content:'';
            position:absolute;
            left:-12px;
            border-radius:5px 0px 0px 5px;
            top:3px;
            height: calc(100% - 6px);
            width:10px;
            border:2px solid var(--bs-border-color);
            // background-color: var(--bs-border-color);
            border-right-width: 0px;
        }
    }
    .col-file-input {
        width:150px;
    }

    &.dragover{
        .file-btn{
            border-style: dotted;
            border-color:var(--bs-primary);
            &::after{
                border-color:var(--bs-primary);
            }
        }
    }
}

@include media-breakpoint-down(md) { 
    .t-input-file{
        .col-file-input {
            width:auto;
        }
    }
    .placeholders{
        width:50%;
        margin-left: auto;
        margin-right: auto;
    }
}

[data-bs-theme=dark]{
    .t-input-file{
        label.form-label{
            color: var(--bs-gray-100);
        }
        .file-btn{
            &:hover{
                background-color: rgba(255,255,255,0.1);
                border-color:var(--bs-gray-600);
                &::after{
                    background-color: rgba(255,255,255,0.1) !important;
                    border-color:var(--bs-gray-600) !important;
                }
            }
        }

        .with-files{
            .file-btn{
                border-color: var(--bs-gray-500);
                background-color: rgba(0,0,0,0.2);
            }
            &.multiple{
                .file-btn::after{
                    border-color: var(--bs-gray-500);
                    background-color: rgba(0,0,0,0.3);
                
                }
            }
        }
    }
    
}