.t-icon-picker {
    .dropdown-menu{
        &.layout-grid{
            .icons-container{
                padding-left:.5rem;
                padding-right:.5rem;
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                gap: .25rem;
                // grid-auto-rows: minmax(100px, auto);

                li{
                    a{
                        border:1px solid var(--bs-border-color);
                        text-align: center;
                    }
                    .check-icon,
                    .icon-label{
                        display:none;
                    }
                }
            }
        }
    }
}